[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=pybitmessage
Name=PyBitmessage
Comment=Encrypted Messaging Client
Categories=Application;Network;Email;
GenericName=Encrypted Messenger
Icon=/opt/PyBitmessage/desktop/can-icon.svg
